<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-title>
      Clients
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-avatar
        class="display--flex ion-justify-content-center ion-align-items-center"
        slot="start"
      >
        <fa-icon icon="laptop"></fa-icon>
      </ion-avatar>
      <ion-label>
        <h2>Macbook Pro</h2>
        <p>Last used: 19.08.19 18:39:12</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar
        class="display--flex ion-justify-content-center ion-align-items-center"
        slot="start"
      >
        <fa-icon icon="laptop"></fa-icon>
      </ion-avatar>
      <ion-label>
        <h2>Macbook Pro</h2>
        <p>Last used: 19.08.19 18:39:12</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar
        class="display--flex ion-justify-content-center ion-align-items-center"
        slot="start"
      >
        <fa-icon icon="laptop"></fa-icon>
      </ion-avatar>
      <ion-label>
        <h2>Lenovo X125</h2>
        <p>Last used: 19.08.19 18:39:12</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
