<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-title>
      Accounts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar mode="ios"></ion-searchbar>

  <ion-list lines="none">
    <ion-item *ngFor="let account of accounts">
      <ion-avatar slot="start">
        <img [src]="account.icon" />
      </ion-avatar>
      <ion-label>
        <h2>{{ account.title }}</h2>
        <p>{{ account.location }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
