<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-title>
      Accounts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar mode="ios"></ion-searchbar>
  <ion-list>
    <ion-list-header>
      <ion-label>Tags</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-row class="ion-padding-horizontal">
    <ion-col class="ion-no-padding display--flex ion-justify-content-between	">
      <ion-button
        class="btn--rounded"
        slots="icon-only"
        color="green"
        mode="ios"
      >
        <ion-icon name="albums"></ion-icon>
      </ion-button>
      <ion-button
        class="btn--rounded "
        slots="icon-only"
        color="blue"
        mode="ios"
      >
        <ion-icon name="albums"></ion-icon>
      </ion-button>
      <ion-button
        class="btn--rounded "
        slots="icon-only"
        color="red"
        mode="ios"
      >
        <ion-icon name="albums"></ion-icon>
      </ion-button>
      <ion-button
        class="btn--rounded "
        slots="icon-only"
        color="gray"
        mode="ios"
      >
        <ion-icon name="albums"></ion-icon>
      </ion-button>
      <ion-button
        class="btn--rounded "
        slots="icon-only"
        color="violet"
        mode="ios"
      >
        <ion-icon name="albums"></ion-icon>
      </ion-button>
      <ion-button
        class="btn--rounded "
        slots="icon-only"
        color="yellow"
        mode="ios"
      >
        <ion-icon name="albums"></ion-icon>
      </ion-button>
      <ion-button
        class="btn--rounded "
        slots="icon-only"
        color="orange"
        mode="ios"
      >
        <ion-icon name="albums"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Accounts</ion-label>
    </ion-list-header>
    <ion-item
      *ngFor="let account of accounts"
      [routerLink]="['/account', account.id]"
    >
      <ion-avatar slot="start">
        <img [src]="account.icon" />
      </ion-avatar>
      <ion-label>
        <h2>{{ account.title }}</h2>
        <p>{{ account.location }}</p>
      </ion-label>
      <ion-chip color="green" slot="end">
        <ion-label color="dark">Entertainment</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
