<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header> Active Mnemonic </ion-list-header>
  <ion-row class="ion-padding-horizontal">
    <ion-col>
      {{ mnemonic }}
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-list-header> Switch Mnemonic </ion-list-header>

    <ion-item (click)="useMnemonic1()">
      Use test mnemonic 1
    </ion-item>
    <ion-item (click)="useMnemonic2()">
      Use test mnemonic 2
    </ion-item>
    <ion-item>
      Use AirGap Vault
    </ion-item>
  </ion-list>
</ion-content>
